<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Religion Master</title>
</head>
<body>
    <h1>Religion Master Form</h1>
    <form method="post" action="">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td><label for="religion_name">Religion Name:</label></td>
                <td><input type="text" name="religion_name" id="religion_name" maxlength="10" required></td>
            </tr>
            <tr>
                <td><label for="description">Description:</label></td>
                <td><textarea name="description" id="description" ></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit">
                    <a href="{% url 'religion_list' %}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>


