<!DOCTYPE html>
<html>
<head>
    <title>Update Sub Caste</title>
</head>
<body>
    <h1>Update Sub Caste</h1>
    <form method="post">
        {% csrf_token %}
        <table border="2">
            <tr>
                <th>Sub Caste Name:</th>
                <td>{{ form.castesub_name }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <a href="/search_subcaste">Cancel</a>
                    <button type="submit">Update</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
