<!DOCTYPE html>
<html>
<head>
    <title>Update Main Caste</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Update Main Caste</h1>
    <form method="post">
        {% csrf_token %}
        <table border="2">
            <tr>
                <th>Main Caste Name:</th>
                <td>{{ form.maincaste_name }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <a href="/search_maincaste">Cancel</a>
                    <button type="submit">Update</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
