<!DOCTYPE html>
<html>
<head>
    <title>Search Cities</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Search Cities</h1>
    <table border="1">
        <tr>
            <th>City Name</th>
            <th>State</th>
            <th>City Shortcut</th>
            <th>Actions</th>
        </tr>
         {%for i in subm %}
        <tr>
            <td>{{ i.city_name }}</td>
            <td>{{ i.state.state_name }}</td>
            <td>{{ i.city_shortcut }}</td>
            <td>
                <a href="/update_city/{{ i.id }}">Update</a>
                <a href="/delete_city/{{ i.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
