<!DOCTYPE html>
<html>
<head>
    <title>Section List</title>
</head>
<body>
    <h1>Section List</h1>
    <a href="{% url 'section_create' %}">Add New Section</a>
    <ul>
        {% for section in sections %}
        <li>
            <a href="{% url 'section_detail' section.pk %}">{{ section.sec_name }}</a>
            <a href="{% url 'section_edit' section.pk %}">Edit</a>
            <a href="{% url 'section_delete' section.pk %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
