<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Section Master</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Section Master Form</h1>
    <form method="post" action="">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td><label for="sec_name">Section Name:</label></td>
                <td><input type="text" name="sec_name" id="sec_name" maxlength="30" required></td>
            </tr>
            <tr>
                <td><label for="description">Description:</label></td>
                <td><textarea name="description" id="description" required></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button><input type="submit" name="btnsubmit" id="btnsubmit" value="save"><a href="search_section"></a></button>
                    <button><input type="submit" name="btncancel" id="btncancel" value="Cancel"></button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>


