<!DOCTYPE html>
<html>
<head>
    <title>Update School Board</title>
</head>
<body>
    <h1>Update School Board</h1>
    <form method="post">
        {% csrf_token %}
        <table border="2">
            <tr>
                <th>Board Name:</th>
                <td>{{ form.board_name }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <a href="/search_schoolboard">Cancel</a>
                    <button type="submit">Update</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
