{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}

<table border="2">
    <tr>
        <th>Question Type</th>
        <th>Subject</th>
        <th>Question</th>
        <th>Diagram</th>
        <th>Option1</th>
        <th>Option2</th>
        <th>Option3</th>
        <th>Option4</th>
        <th>Solution</th>
        <th>Option choices</th>
        <th>Question weightage</th>
        <th>Update</th>
    </tr>
    {%for i in quesbm %}
    <tr>
        <td>{{i.question_type}}</td>
        <td>{{i.subject}}</td>
        <td>{{i.question}}</td>
        <td>{% if i.image %}
                    <img src="media/{{ i.image }}" width="100" height="100" />
                {% endif %}</td>
        <td>{{i.option1}}</td>
        <td>{{i.option2}}</td>
        <td>{{i.option3}}</td>
        <td>{{i.option4}}</td>
        <td>{{i.solution}}</td>
        <td>{{i.option_choices}}</td>
        <td>{{i.question_weightage}}</td>
        <td>
            <button><a href="/update_question_bank/<int:id>"> update</a></button>
            <button><a href="/delete_question_bank/<int:id>"> delete</a></button>
        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}