{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}

<table border="2">
    <tr>
        <th>Subjectname</th>
        <th>Description</th>
        <th>update</th>
    </tr>
    {%for i in subm %}
    <tr>
        <td>{{i.subjectname}}</td>
        <td>{{i.description}}</td>
        <td> <button><a href="/update_subject/{{i.id}}"> update</a></button>
            <button><a href="/delete_subject/{{i.id}}"> delete</a></button>
        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}